<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="db_SmartMovers.Properties.Settings.SmartMoversConnectionString"
            connectionString="Data Source=DESKTOP-MHS4TMT\SQLEXPRESS;Initial Catalog=SmartMovers;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>